/ {
    keymap {
        compatible = "zmk,keymap";
        label = "default";

        default_layer {
            bindings = <
                /* Row 0: C0–C15 = Q W E R U I O P FN ` + 6×空 */
                &kp Q    &kp W    &kp E    &kp R    &kp U    &kp I    &kp O   
                &kp P    &mo FN   &kp GRV  &none   &none   &none   &none   &none

                /* Row 1: Tab Caps T Y ] [ Backspace Win L_Shift + 6×空 */
                &kp TAB  &kp CAPS &kp T    &kp Y    &kp RCBR &kp LCBR 
                &kp BSPC &kp LGUI &kp LSFT &none   &none   &none   &none   &none

                /* Row 2: A S D F J K L ; FN R_Shift + 6×空 */
                &kp A    &kp S    &kp D    &kp F    &kp J    &kp K    
                &kp L    &kp SCLN &mo FN   &kp RSFT &none   &none   &none   &none

                /* Row 3: Esc G H ' L_Alt Enter Space Up + 8×空 */
                &kp ESC  &kp G    &kp H    &kp QUOT &kp LALT &kp ENT  
                &kp SPC  &kp UP   &none   &none   &none   &none   &none   &none

                /* Row 4: Z X C V M , . + 9×空 */
                &kp Z    &kp X    &kp C    &kp V    &kp M    &kp COMMA 
                &kp DOT  &none   &none   &none   &none   &none   &none   &none
                &none

                /* Row 5: B N / R_Alt Down Right App Left + 8×空 */
                &kp B    &kp N    &kp SLSH &kp RALT &kp DOWN &kp RGHT 
                &kp APP  &kp LFT  &none   &none   &none   &none   &none   &none

                /* Row 6: L_Control \ 5 6 +/= - ANY + 6×空 */
                &kp LCTL &kp BSLS &kp 5    &kp 6    &kp PLUS &kp EQL  
                &kp MINUS &kp NONE &none   &none   &none   &none   &none   &none

                /* Row 7: 1 2 3 4 7 8 9 0 + 8×空 */
                &kp 1    &kp 2    &kp 3    &kp 4    &kp 7    &kp 8    
                &kp 9    &kp 0    &none   &none   &none   &none   &none   &none
            >;
        };
    };
};
