/ {
    keymap {
        compatible = "zmk,keymap";
        label = "Default";

        minimal {
            bindings = <
                /* R0: C0–C15 = Q W E R U I O P Fn `    */
                &kp Q    &kp W    &kp E    &kp R    &kp U    &kp I    &kp O    &kp P  
                &mo FN   &kp GRV  &none   &none   &none   &none   &none   &none

                /* R1: Tab Caps T Y ] [ Backspace Win L_Shift */
                &kp TAB  &kp CAPS &kp T    &kp Y    &kp RCBR &kp LCBR &kp BSPC &kp LGUI
                &kp LSFT &none   &none   &none   &none   &none   &none   &none

                /* R2: A S D F J K L ; Fn R_Shift */
                &kp A    &kp S    &kp D    &kp F    &kp J    &kp K    &kp L    &kp SCLN
                &mo FN   &kp RSFT &none   &none   &none   &none   &none   &none

                /* R3: Esc G H ' L_Alt Enter Space Up */
                &kp ESC  &kp G    &kp H    &kp QUOT &kp LALT &kp ENT  &kp SPC  &kp UP  
                &none   &none   &none   &none   &none   &none   &none   &none

                /* R4: Z X C V M , . */
                &kp Z    &kp X    &kp C    &kp V    &kp M    &kp COMMA &kp DOT
                &none   &none   &none   &none   &none   &none   &none   &none

                /* R5: B N / R_Alt Down Right App Left */
                &kp B    &kp N    &kp SLSH &kp RALT &kp DOWN &kp RGHT &kp APP  &kp LFT
                &none   &none   &none   &none   &none   &none   &none   &none

                /* R6: L_Control \ 5 6 +/= - ANY */
                &kp LCTL &kp BSLS &kp 5    &kp 6    &kp PLUS &kp EQL  &kp MINUS &kp NONE
                &none   &none   &none   &none   &none   &none   &none   &none

                /* R7: 1 2 3 4 7 8 9 0 */
                &kp 1    &kp 2    &kp 3    &kp 4    &kp 7    &kp 8    &kp 9    &kp 0
                &none   &none   &none   &none   &none   &none   &none   &none
            >;
        };
    };
};