#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {              /* Layer 0 */
            display-name = "Minila Air";   /* 可在 ZMK Studio 看到的名字 */

            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp U    &kp I    &kp O    &kp P    &mo FN   &kp GRV  &none   &none   &none   &none   &none   &none
                &kp TAB  &kp CAPS &kp T    &kp Y    &kp RCBR &kp LCBR &kp BSPC &kp LGUI &kp LSFT &none    &none   &none   &none   &none   &none   &none
                &kp A    &kp S    &kp D    &kp F    &kp J    &kp K    &kp L    &kp SCLN &mo FN   &kp RSFT &none   &none   &none   &none   &none   &none
                &kp ESC  &kp G    &kp H    &kp QUOT &kp LALT &kp ENT  &kp SPC  &kp UP   &none    &none   &none   &none   &none   &none   &none   &none
                &kp Z    &kp X    &kp C    &kp V    &kp M    &kp COMMA &kp DOT  &none   &none    &none   &none   &none   &none   &none   &none   &none
                &kp B    &kp N    &kp SLSH &kp RALT &kp DOWN &kp RGHT &kp APP  &kp LFT  &none    &none   &none   &none   &none   &none   &none   &none
                &kp LCTL &kp BSLS &kp 5    &kp 6    &kp PLUS &kp EQL  &kp MINUS &none &none    &none   &none   &none   &none   &none   &none   &none
                &kp 1    &kp 2    &kp 3    &kp 4    &kp 7    &kp 8    &kp 9    &kp 0   &none    &none   &none   &none   &none   &none   &none   &none
            >;
        };
    };
};
