#include <dt-bindings/zmk/matrix_transform.h>
#include "matrix_transform.dtsi"

/ {
    chosen {
        /* default keyboard node */
        zmk,keyboard         = &kb;
        /* logical‑to‑physical mapping lives in config/matrix_transform.dtsi */
        zmk,matrix_transform = &transform;
    };
};

