/* config/minila_air.keymap */
 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* ─ row 0 ─ */ &kp Q     &kp W     &kp E     &kp R     &kp U     &kp I     &kp O     &kp P     &mo 1    &kp GRAVE &kp BSPC  &kp DEL
                /* ─ row 1 ─ */ &kp TAB   &kp CAPS  &kp T     &kp Y     &kp J     &kp K     &kp L     &kp LBKT  &mo 1    &kp RET   &kp LSHFT
                /* ─ row 2 ─ */ &kp A     &kp S     &kp D     &kp F     &kp H     &kp COMMA &kp DOT   &kp SEMI  &kp SQT  &kp LALT  &kp SPC
                /* ─ row 3 ─ */ &kp ESC   &kp G     &kp KP_PLUS &kp BSLS
                /* ─ row 4 ─ */ &kp Z     &kp X     &kp C     &kp V     &kp M     &kp SLASH &kp RALT  &kp DOWN  &kp RIGHT
                /* ─ row 5 ─ */ &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL
                /* ─ row 6 ─ */ &kp LCTRL &kp BSLASH &kp N1   &kp N2    &kp N3
                /* ─ row 7 ─ */ &kp N4    &kp N5    &kp LEFT  &kp APP
            >;
        };
    };
};